<div class="social {% if include.floating %} social_floating{% endif %}">
    <div class="social_email">
        <img class="social_icon" src="/images/social/email.png"><br/>
    </div>
    <div class="social_nets">
        <a href="https://www.facebook.com/neus.pamies"><img class="social_icon" src="/images/social/facebook.png"></a>
        <a href="https://twitter.com/neuspam"><img class="social_icon" src="/images/social/twitter.png"></a>
        <a href="https://www.linkedin.com/in/neusp"><img class="social_icon" src="/images/social/linkedin.png"></a>
        <a href="https://www.instagram.com/neuspam"><img class="social_icon" src="/images/social/instagram.png"></a>
        <a href="https://vimeo.com/user4951557"><img class="social_icon" src="/images/social/vimeo.png"></a>
    </div>
</div>
